// Variables
$navbar-light-color: #3a5362; //цвет ссылок в navbar-light
$navbar-light-hover-color: #000; //цвет ховера ссылок в navbar-light
$navbar-light-active-color: #fff; // цвет шрифта активной ссылки
$gray-100: #d7d7d7;   // цвет навбара

@import "./../node_modules/bootstrap/scss/bootstrap.scss";

body {
  min-width: 320px;
  font-size: 16px;
  background: #4b82a5;
}

img {
  max-width: 100%;
  height: auto;
}

@import "./parts/sections/header";
@import "./parts/sections/intro";
@import "./parts/sections/services";
@import "./parts/sections/listing";
@import "./parts/sections/section-form";
@import "./parts/sections/footer";