$white: #fff;

$light-blue: #c2f2ed;
$blue-1: #4b82a5;
$blue-2: #5899c1;
$blue-3: #4b82a5;
$blue-4: #548bab;
$blue-5: #316e94;
$blue-6: #477d9e;
$blue-7: #2e6182;
$blue-8: #1e4862;
$blue-9: #3886b7;
$blue-10: #4A90E2;
$blue-11: #3864c2;
$blue-12: #264b63;
$blue-13: #6b99b6;
$blue-14: #366480;
$blue-15: #467997;
$blue-16: #4484ad;
$blue-17: #4f8fb7;
$blue-18: #5e8aa7;
$blue-19: #81bade;
$blue-20: #689cbd;
$blue-21: #4b7d9b;

$grey-1: #979797;
$grey-2: #e3e0e4;
$grey-3: #43515a;


$orange: #ff7106;
$black: #000;
