$btn-blue: linear-gradient(to bottom, #6ab1dc, #4b8cb4);
$btn-orange: linear-gradient(to bottom, #ffa561, #ff7106);
$white: #fff;

// Bootstrap Variables
$navbar-light-color: #3a5362; //цвет ссылок в navbar-light
$navbar-light-hover-color: #000; //цвет ховера ссылок в navbar-light
$navbar-light-active-color: #fff; // цвет шрифта активной ссылки
$gray-100: #d7d7d7; // цвет навбара